.post-avatar {
  width: 40px;
  height: 40px;
  border-radius: 99px;
  flex-shrink: 0;
}

.post-header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 10px;
  padding: 8px;
}

.post-right {
  display: grid;
  gap: 2px;
}

.post-main {
  padding: 0 8px 0 58px;
  display: grid;
  gap: 8px;
}

.post-content {
  font-size: 14px;
  /* padding: 8px; */
}

.post-imgs {
  display: grid;
  gap: 4px;
  grid-template-columns: 1fr 1fr 1fr;
}

.post-img {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 4px;
  object-fit: cover;
}

.post-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: #666666;
}

.post-date {
  margin-right: auto;
}

.post-count {
  --bg: '';

  position: relative;
  display: flex;
  align-items: center;
  gap: 2px;
}

.post-count::before {
  width: 20px;
  height: 20px;
  display: block;
  content: '';
  position: relative;
  background: var(--bg) center / cover no-repeat;
}

.post-count:nth-of-type(2) {
  --bg: url('../imgs/post-1.png');
}

.post-count:nth-of-type(3) {
  --bg: url('../imgs/post-2.png');
}
